.userSearchResults {
  position: absolute;
  width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 15px 10px 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.userSearchResults > div {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-radius: 3px;
  overflow: hidden;
}
.userSearchResults > div.hovered {
  border-color: #d8f0fa;
  background: #f8fcfe;
  color: inherit;
  background: -moz-linear-gradient(top, #f8fcfe 0%, #eff9fe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8fcfe), color-stop(100%, #eff9fe));
  background: -webkit-linear-gradient(top, #f8fcfe 0%, #eff9fe 100%);
  background: -o-linear-gradient(top, #f8fcfe 0%, #eff9fe 100%);
  background: -ms-linear-gradient(top, #f8fcfe 0%, #eff9fe 100%);
  background: linear-gradient(to bottom, #f8fcfe 0%, #eff9fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8fcfe', endColorstr='#eff9fe', GradientType=0);
}